<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Resto.Front.Api.CloudLoyalty.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Resto.Front.Api.CloudLoyalty.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>https://api.maxma.com/</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>X-Processing-Key</value>
            </setting>
            <setting name="shop_code" serializeAs="String">
                <value>Код торговой точки</value>
            </setting>
            <setting name="shop_name" serializeAs="String">
                <value>Название торговой точки</value>
            </setting>
            <setting name="notification_timeout" serializeAs="String">
                <value>00:00:15</value>
            </setting>
            <setting name="no_keyboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="send_sms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="discount" serializeAs="String">
                <value>MAXMA</value>
            </setting>
            <setting name="server_port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="discountRoundStep" serializeAs="String">
                <value>0</value>
            </setting>
        </Resto.Front.Api.CloudLoyalty.Properties.Settings>
    </applicationSettings>
</configuration>